@import "tailwindcss";

@theme {
    --color-canvas: #2b2b2b;
    --color-surface: #3a3a3a;
    --color-fg: #e6e6e6;
    --color-muted: #b0b0b0;
    --color-faint: #8a8a8a;
    --color-accent: #f4f4f4;
    --color-accent-soft: #cccccc;
}

@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: optional;
  font-weight: 400;
  src: url($lib/assets/fonts/Iosevka-Regular-latin-400.woff2) format('woff2');
}

@layer base {
    body {
        @apply bg-canvas text-fg;
        font-family: "Iosevka", monospace;
        scrollbar-color: theme("color-fg") theme("color-canvas");
    }

    h1, h2, h3, h4 { font-family: monospace; }

    a { @apply text-accent hover:text-accent-soft; }
    h1 { @apply text-5xl font-bold; }
    h2 { @apply text-3xl font-bold; }
    h3 { @apply text-2xl font-bold; }
    ::placeholder { @apply text-faint; }

    li { @apply list-inside list-['+_']; }

    input[type="search"] {
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }
}
